
body, ul {
    margin: 0;
    padding: 0;
}

.logo {
    text-align: center;
}

.logo img {
    width: 150px;
    height: auto; 
}
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}

.sidebar h2 {
    color: white;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.logout {
    position: center;
    text-align: center;
}

.logout a {
    text-decoration: none;
    color: white;
    background-color: #f44336;
    padding: 10px 0px;
    border-radius: 5px;
}

.logout a:hover {
    background-color: #d32f2f;
}
.content {
    margin-left: 250px;
    padding: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}